{% extends 'base.html' %}

{% block body %}

<link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.css" />
  
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>

<div class="container">

    <div class="row mt-3 sticky-top">
        <div class="col">
            <div class="card border border-dark">
                <div class="card-body">
                    <span><b>Usuario: {{session.usuario}} - {{session.rol}}</b></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col col-12 col-md12 col-sm12 col-lg-2 mb-3">
            <div class="card border border-dark sticky-top" style="top: 10%;">

                <div class="card-header">
                    <h5 class="text-center"><b>Opciones</b></h5>
                </div>

                <div class="card-body">

                    <div class="d-flex justify-content-center">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user" type="button" role="tab" aria-controls="v-pills-user" aria-selected="true">Usuarios</button>
                            <button class="nav-link" id="v-pills-inventario-tab" data-bs-toggle="pill" data-bs-target="#v-pills-inventario" type="button" role="tab" aria-controls="v-pills-inventario" aria-selected="false">Inventario</button>
                        </div>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-center">
                    <a class="btn btn-danger btn-block" href="/salir">Cerrar Sesion</a>
                </div>

            </div>
        </div>

       
        </div>

    </div>



</div>

{% endblock %}