<div class="tab-pane fade show active" id="v-pills-usuarios" role="tabpanel" aria-labelledby="v-pills-user-tab" tabindex="0">

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#userModal">
                Agregar Usuario
            </button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            {% include '/views/usuarios/tables/table_usuarios.html' %}
        </div>
    </div>

    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">Agregar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="form_usuario">
                    <div class="modal-body">
                        <div class="row">
                            <div class="mb-4">
                                <label for="u_nombreUsuario" class="form-label text-muted">Nombre de usuario</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                    <input type="text" class="form-control" id="u_nombreUsuario" name="u_nombreUsuario" required placeholder="Ingresa tu nombre de usuario">
                                </div>
                            </div>

                            <div class="mb-4">
                                <label for="u_correo" class="form-label text-muted">Correo electrónico</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                                    <input type="email" class="form-control" id="u_correo" name="u_correo" required placeholder="Ingresa tu correo electrónico">
                                </div>
                            </div>

                            <div class="mb-4">
                                <label for="u_clave" class="form-label text-muted">Contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                    <input type="password" class="form-control" id="u_clave" name="u_clave" required placeholder="Crea una contraseña segura">
                                </div>
                            </div>

                            <div class="mb-4">
                                <label for="confirm_password" class="form-label text-muted">Confirmar contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
                                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required placeholder="Confirma tu contraseña">
                                </div>
                            </div>

                            <div class="mb-4">
                                <label for="u_rol" class="form-label text-muted">Rol</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-briefcase-fill"></i></span>
                                    <select class="form-select" id="u_rol" name="u_rol" required>
                                        <option value="" disabled selected>Seleccione un rol</option>
                                        <option value="admin">Administrador</option>
                                        <option value="user">Cliente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btn-guardar-usuario" class="btn btn-primary">Guardar Cambios</button>
                        <button type="button" id="btn-editar-usuario" class="btn btn-success" style="display: none;">Editar Campo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/usuarios.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</div>
