
<div class="table-usuario" style="margin-top: auto;">
    <table id="table_usuario" width="100%" cellspacing="0" class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">Nombre de Usuario</th>
                <th class="text-center" scope="col">Correo Electrónico</th>
                <th class="text-center" scope="col">Rol</th>
                <th class="text-center" scope="col">Acciones</th>
            </tr>
        </thead>
    </table>
</div>
