<div class="table-producto" style="margin-top: auto;">
    <table id="table_producto" width="100%" cellspacing="0" class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">Nombre del Producto</th>
                <th class="text-center" scope="col">Precio</th>
                <th class="text-center" scope="col">Cantidad</th>
                <th class="text-center" scope="col">Categoría</th>
                <th class="text-center" scope="col">Descripción</th>
                <th class="text-center" scope="col">Imagen</th>
                <th class="text-center" scope="col">Tiempo de Preparación</th>
                <th class="text-center" scope="col">Acciones</th>
            </tr>
        </thead>
    </table>
</div>
